
* {
    background-color: gray;
    margin:10px;
    border-color: black;
  }
  header {
    color: orange;
    font-size: 30px;
    text-align: center;
    
  }
  footer {
    background-color: black;
    color:white;
  }
  #img-div{
    background-color: silver;
     border-color: black;
    text-align: center;
    margin: 15px;
    padding: 15px;
    margin: 0 auto; 
    max-width: 100%;
   
    }
  #image {
    
    height: auto;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #tribute-link {
     text-decoration:none;
  }